@import url("pygment_highlights.css");

/* --- General --- */

body {
  font-family: 'Droid Sans', serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFF;
}
p {	
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
  color: #404040;
}
code {
  word-break: break-word;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  text-decoration: underline;
  color: #404040;
}
a:hover,
a:focus {
  color: #0085a1;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: inherit;
  border-radius: 3px;
}

.main-explain-area {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px inherit;
}

.hideme {
  display: none;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}

.disqus-comments {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .disqus-comments {
    margin-top: 40px;
  }
}

#disqus_thread iframe[src*="disqusads"] {
  display: none;
}

.linked-section {
  padding-top: 60px;
  margin-top: -25px;
}

/* --- Navbar --- */

.navbar-custom {
  background: #F5F5F5;
  border-bottom: 1px solid #EAEAEA;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 800;
  color: #404040;
  text-decoration: none;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #0085a1;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .navbar-custom.top-nav-short-permanent,
  .navbar-custom.top-nav-short {
    padding: 0;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  left: 50%;
  width: 50px;
  margin-top: -25px;
}
.navbar-custom .avatar-container  .avatar-img-border {
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.navbar-custom .avatar-container  .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.navbar-custom.top-nav-short .avatar-container{
  opacity: 0;
}

.navbar-custom.top-nav-expanded .avatar-container  {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-custom .avatar-container {
    width: 100px;
    margin-top: -50px;
  }
  
  .navbar-custom .avatar-container  .avatar-img-border {
    width: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  }
  
  .navbar-custom .avatar-container  .avatar-img {
    width: 100%;
  }
}

.nav-search-link .nav-search-icon {
  display: none;
}
.nav-search-link .nav-search-text {
  display: inline;
}
@media only screen and (min-width: 768px) {
  .nav-search-link .nav-search-icon {
    display: inline;
  }
  .nav-search-link .nav-search-text {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-custom .nav li a {
    padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
  }
}

/* fix in-page anchors to not be behind fixed header */
:target:before {
    content: "";
    display: block;
    height: 50px; /* navbar height */
    margin: -50px 0 0;
}

/* Multi-level navigation links */
.navbar-custom .nav .navlinks-container {
  position: relative;
}
.navbar-custom .nav .navlinks-parent:after {
  content: " \25BC";
}
.navbar-custom .nav .navlinks-children {
  width: 100%;
  display: none;
  word-break: break-word;
}
.navbar-custom .nav .navlinks-container .navlinks-children a {
  display: block;
  padding: 10px;
  padding-left: 30px;
  background: #f5f5f5;
  text-decoration: none !important;
  border-width: 0 1px 1px 1px;
  font-weight: normal;
}
@media only screen and (max-width: 767px) {
  .navbar-custom .nav .navlinks-container.show-children {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container.show-children .navlinks-children {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .navbar-custom .nav .navlinks-container:hover {
    background: #eee;
  }
  .navbar-custom .nav .navlinks-container:hover .navlinks-children {
    display: block;
  }
  .navbar-custom .nav .navlinks-children {
    position: absolute;
    text-align: center;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    padding-left: 10px;
    border: 1px solid #eaeaea;
    border-width: 0 1px 1px;
  }
}

/* --- Footer --- */

footer {
  padding: 30px 0 70px;
  background: #F5F5F5;
  border-top: 1px #EAEAEA solid;
  margin-top: 35px;
  font-size: 14px;
}

footer a {
  color: #404040;
  text-decoration: none;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-family: Open Sans;
  text-align: center;
  margin-bottom: 0;
}
footer .theme-by {
  text-align: center;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  footer {
    padding: 50px 0;
    margin-top: 50px;
  }
  footer .footer-links {
    font-size: 18px;
  }
  footer .copyright {
    font-size: 16px;
  }
}

/* --- Post and page headers --- */

.intro-header {
  margin: 80px 0 20px;
  position: relative;
}
.intro-header.big-img {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-top: 51px; /* The small navbar is 50px tall + 1px border */
  margin-bottom: 35px;
}
.intro-header.big-img  .big-img-transition {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  transition: opacity 1s linear;
}
.intro-header .page-heading {
  text-align: center;
}
.intro-header.big-img .page-heading,
.intro-header.big-img .post-heading {
  padding: 100px 0;
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .post-heading h1 {
  margin-top: 0;
  font-size: 35px;
}
.intro-header .page-heading .page-subheading,
.intro-header .post-heading .post-subheading {
  font-size: 27px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
.intro-header .post-heading .post-subheading {
  margin-bottom: 20px;
}
.intro-header.big-img .page-heading .page-subheading,
.intro-header.big-img .post-heading .post-subheading {
  font-weight: 400;
}
.intro-header.big-img .page-heading hr {
  box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
}
.intro-header.big-img .post-heading .post-meta {
  color: #EEE;
}
.intro-header.big-img .img-desc {
  background: rgba(30, 30, 30, 0.6);
  position: absolute;
  padding: 5px 10px;
  font-size: 11px;
  color: #EEE;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  right: 0;
  bottom: 0;
  display: none;
}
@media only screen and (min-width: 768px) {
  .intro-header {
    margin-top: 130px;
  }
  .intro-header.big-img {
    margin-top: 91px;  /* Full navbar is small navbar + 20px padding on each side when expanded */
  }	
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading  {
    padding: 150px 0;
  }  
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
  .intro-header .post-heading h1 {
    font-size: 50px;
  }
  .intro-header.big-img .img-desc {
    font-size: 14px;
  }
}

.header-section.has-img .no-img {
  margin-top: 0;
  background: #FCFCFC;
  margin: 0 0 40px;
  padding: 20px 0;
  box-shadow: 0 0 5px #AAA;
}
/* Many phones are 320 or 360px, so make sure images are a proper aspect ratio in those cases */
.header-section.has-img .intro-header.no-img {
  display: none;
}
@media only screen and (max-width: 365px) {
  .header-section.has-img .intro-header.no-img {
    display: block;
  }
  .intro-header.big-img {
    width: 100%;
    height: 220px;
  }
  .intro-header.big-img .page-heading,
  .intro-header.big-img .post-heading {
    display: none;
  }
  .header-section.has-img .big-img {
    margin-bottom: 0;
  }  
} 
@media only screen and (max-width: 325px) { 
  .intro-header.big-img {
    height: 200px;
  }
}

.post-heading .post-meta {		
  color: #808080;		
  font-size: 18px;		
  font-style: italic;		
  margin: 0 0 10px;		
}

#header-gh-btns {
  margin-bottom: 15px;
}
@media only screen and (max-width: 500px) {
  #header-gh-btns > iframe {
    display: block;
    margin-bottom: 5px;
  }
}

/* --- Blog post --- */

.blog-post :first-child {
  margin-top: 0;
}

.blog-post a.btn {
  font-family: arial;
  text-decoration: none;
}

.blog-post .caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.blog-post img {
  max-width: 100%;
}

.blog-post hr {
  max-width: 25%;
  border-width: 4px;
  border-radius: 3px;
  border-color: #808080;
}

/* --- Tags --- */

.blog-tags {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
  font-size: 15px;
  margin-bottom: 30px;
}

.blog-tags a {
  color: #008AFF;
  text-decoration: none;
  padding: 0px 5px;
}

.blog-tags a:hover {
  border-radius: 2px;
  color: #0085A1;
  background-color: #EEE;
}

/* --- Pager --- */

.pager li a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px 5px;
  background: #FFF;
  border-radius: 0;
  color: #404040;
  text-decoration: none;
}
@media only screen and (min-width: 768px) {
  .pager li a {
    padding: 15px 25px;
  }
}
.pager li a:hover,
.pager li a:focus {
  color: #FFF;
  background: #0085a1;
  border: 1px solid #0085a1;
}

.pager {
  margin: 10px 0 0;
}

.pager.blog-pager {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .pager.blog-pager  {
    margin-top: 10px;
  }
}

/* --- Tables --- */

.blog-post table {
  padding: 0;
}
.blog-post table tr {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.blog-post table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.blog-post table tbody tr:hover {
  background-color: #eaeaea;
}
.blog-post table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.blog-post table tr th :first-child,
.blog-post table tr td :first-child {
  margin-top: 0;
}
.blog-post table tr th :last-child,
.blog-post table tr td :last-child {
  margin-bottom: 0;
}

/* --- Share section --- */

.share-section {
  padding: 30px 15px 35px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 0 10px #e7e7e7 inset;
  background: #fcfcfc;
  text-align: center;
}

.share-section .share-title {
  margin-top: 0;
  font-size: 30px;
}

.share-section .share-buttons {
  margin-top: 15px;
}

.share-section .share-buttons a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px 15px;
  background: #e7edff;
  border-radius: 0;
  color: #404040;
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
  border: 1px solid #e2eaff;
  font-size: 14px;
}

.share-section .share-buttons a:hover,
.share-section .share-buttons a:focus {
  color: #FFF;
  background: #0085a1;
  border-color: #0085a1;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transition: transform 250ms;
  -moz-transition: -moz-transform 250ms;
  -webkit-transition: -webkit-transform 250ms;
}

.share-section .share-buttons a:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  .share-section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .share-section .share-title {
    font-size: 45px;
  }
  .share-section .share-buttons {
    margin-top: 30px;
  }
  .share-section .share-buttons a {
    padding: 15px 25px;
    margin-left: 30px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .share-section .share-buttons a {
    display: block;
    margin-left: 0;
    margin-top: 10px;
  }
  .share-section .share-buttons a:first-child {
    margin-top: 0;
  }
}

/* --- Code blocks --- */

pre {
  font-size: 16px;
  line-height: 1.5em;
  background: #FAFAFA;
  background-image: linear-gradient(#FAFAFA 50%, #FDFDFD 50%);
  background-position: 0px 10px;
  background-repeat: repeat;
  background-size: 3em 3em;
  border-left: 7px solid #444;
}

pre code {
  white-space: pre;
}

/* --- Email subscription --- */

.mailchimp-subscribe-section {
  margin-top: 10px;
  border-top: 3px double #fff;
  padding-top: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
#mailchimp-subscribe-section-share,
#mailchimp-subscribe-section-footer {
  border-top: 0 none;
  width: 50%;
  margin: 15px auto 0;
}
@media only screen and (max-width: 500px) {
  #mailchimp-subscribe-section-share {
    width: 100%;
    margin: 10px 0 0 0;
  }
}
.mailchimp-subscribe-section .container {
  width: auto;
  margin: 0;
  padding: 0;
}
.mailchimp-subscribe-section .container .row {
  padding: 0;
  margin: 0;
}
.mailchimp-subscribe-section .container .row .col-xs-12,
.mailchimp-subscribe-section .container .row .col-sm-8,
.mailchimp-subscribe-section .container .row .col-sm-4 {
  margin: 0;
  padding: 0 2px;
}
#mailchimp-subscribe-section-scrollbox label,
#mailchimp-subscribe-section-share label {
  font-size: 16px;
  margin-bottom: 7px;
  font-weight: normal;
  display: block;
}
.mailchimp-subscribe-section .email {
  padding: 0 10px;
  border: 1px solid #ABB0B2;
  border-radius: 3px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 5px;
  width: 100%;
}
.mailchimp-subscribe-section .button {
  border-radius: 3px;
  font-weight: bold;
  border: 1px solid #ABB0B2;
  color: #2c8a3d;
  background-color: #fff;
  box-sizing: border-box;
  display: block;
  vertical-align: top;
  transition: all 0.23s ease-in-out 0s;
  margin: 0; 
  letter-spacing: 1px;
  width: 100%;
}
#mailchimp-subscribe-section-footer #mc-embedded-subscribe-footer {
  color: #333333;
}
#mailchimp-subscribe-section-scrollbox #mc-embedded-subscribe-scrollbox:hover,
#mailchimp-subscribe-section-share #mc-embedded-subscribe-share:hover {
  background-color: #f8f8f8;
  color: #000;
  cursor: pointer;
}
#mailchimp-subscribe-section-footer #mc-embedded-subscribe-footer:hover {
  background-color: #2c8a3d;
  color: #f0f0f0;
  cursor: pointer;
}

.mailchimp-subscribe-section .email,
.mailchimp-subscribe-section .button {
  height: 30px;
  font-size: 14px;
}

@media only screen and (min-width: 980px) {
  #mailchimp-subscribe-section-scrollbox #mc_embed_signup-scrollbox label,
  #mailchimp-subscribe-section-share #mc_embed_signup-share label {
    font-size: 18px;
    margin-bottom: 3px;
  }
  .mailchimp-subscribe-section .email,
  .mailchimp-subscribe-section .button {
    height: 35px;
  }
}
@media only screen and (max-width: 979px) {
  .mailchimp-subscribe-section .email {
    margin-bottom: 3px;
  }
}

/* --- Social media sharing section --- */

#social-share-section {
  margin-bottom: 30px;
}

/* --- Notification boxes --- */
.box-note, .box-warning, .box-error {
  padding: 15px 15px 15px 10px;
  margin: 20px 20px 20px 5px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 5px 3px 3px 5px;
}

.box-note {
  background-color: #eee;
  border-left-color: #2980b9;
}

.box-warning {
  background-color: #fdf5d4;
  border-left-color: #f1c40f;
}

.box-error {
  background-color: #f4dddb;
  border-left-color: #c0392b;
}

/* --- Scroll box --- */

#scroll-box {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: fixed;
  display: none;
  right: 8px;
  bottom: 8px;
  z-index: 999999;
  text-align: center;
  color: #fff;
  background: #94cb70;
  padding: 15px 20px;
  box-shadow: 0 0 8px #777;
}

#scroll-box input {
  outline-color: #75b57d;
}

@media only screen and (max-width: 979px) {
  body.scroll-box-on footer {
    padding-bottom: 210px;
  }
}

#scroll-box-close {
  position: absolute;
  font-size: 30px;
  right: 4px;
  font-family: serif;
  color: #f5f5f5;
  line-height: 0;
  top: 11px;
  cursor: pointer;
}
#scroll-box-close:hover {
  color: #fff;
}

#scroll-box-title {
  font-size: 24px;
  letter-spacing: 1px;
  display: none;
}

#scroll-box-contact {
  font-family: arial;
  font-size: 15px;
  text-align: right;
  margin-top: 10px;
  display: none;
}

#scroll-box-hire {
  font-size: 24px;
}

#scroll-box-contact a,
#scroll-box-hire a {
  color: #fff;
  font-weight: 600;
}
#scroll-box-contact a:hover,
#scroll-box-hire a:hover {
  color: #f0f0f0;
}

@media only screen and (max-width: 979px) {
  #scroll-box {
    bottom: 32px;
    right: 0;
    border-width: 3px 3px 0;
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  #scroll-box {
    padding: 10px 10px 5px;
  }
  #scroll-box-title {
    font-size: 20px;
  }
  #scroll-box-hire {
    font-size: 18px;
  }
  #scroll-box-close {
    right: 3px;
    top: 12px;
  }
  #mailchimp-subscribe-section {
    margin-bottom: 7px;
  }
}

/* Fix the AddThis Share button spacing on mobile screen */
.addthis-smartlayers-mobile .at4-count {
  height: 31px !important;
  padding-top: 1px !important;
}

/* AddThis promo bar for tidyshiny workshop */
.addthis_bar_bottom2 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  background: #94cb70 !important;
  font-size: 16px !important;
  color: #fff !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 13px 20px;
  z-index: 100000000000;
}
.addthis_bar_message2 span {
  font-weight: bold !important;
}
.addthis_bar_button_link2 {
  color: #288a28 !important;
  background: #fff !important;
  font-weight: bold !important;
  border-color: #777 !important;
  padding: 3px 12px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 3px;
  font-size: 14px;
}
.addthis_bar_button_link2:hover {
  background: #288a28 !important;
  color: #fff !important;
}
.addthis_bar_x_container2 {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 0;
}
.addthis_bar_x2 {
    background: none;
    width: 1pc;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: .5;
    transition: all .2s ease;
}
.addthis_bar_x2:hover {
  opacity: 1;
}
.addthis_bar_x2:before {
    content: '';
    display: block;
    width: 17px;
    height: 2px;
    margin: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    z-index: -1;
    transition: all .3s;
    top: 9px;
    left: -1px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	box-sizing: border-box;
}
.addthis_bar_x2:after {
    content: '';
    display: block;
    width: 17px;
    height: 2px;
    margin: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    z-index: -1;
    transition: all .3s;
    top: 9px;
    left: -1px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	box-sizing: border-box;
}

/* DataCamp shiny case studies course promo */

#datacamp-course-section {
  text-align: center;
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
}
#datacamp-course-section .btn {
  text-decoration: none;
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  #datacamp-course-section {
    font-size: 18px;
  }
  #datacamp-course-section .btn {
    font-size: 16px;
  }
}
@media only screen and (max-width: 500px) {
  #datacamp-course-section {
    font-size: 16px;
  }
  #datacamp-course-section .btn {
    font-size: 14px;
  }
}

/* Carbon ads */
div[role=main],
article[role=main] {
  position: relative;
}

#carbonads {
  display: block;
  overflow: hidden;
  text-align: center;
  font-family: "Open Sans", Lora, Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 13px;
  width: 130px;
  float: right;
  margin: 0 0 10px 10px;
}

@media only screen and (min-width: 1150px) {
  #carbonads {
    position: absolute;
    top: 0;
    right: -135px;
    float: none;
    margin: 0;
  }
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
  text-decoration: underline;
}

#carbonads span {
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin: 0 auto;
}

.carbon-img img {
  margin-bottom: 12px;
}

.carbon-text {
  display: block;
  margin-bottom: 12px;
}

.carbon-poweredby {
  display: block;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 1;
}

@media only screen and (max-width: 1149px) {
  #deancarbonads.sm-horizontal #carbonads{
    max-width: 400px;
    width: inherit; 
    float: none;
    margin: 0 auto 15px;
  }
  #deancarbonads.sm-horizontal #carbonads span {
    position: relative;
  }
  #deancarbonads.sm-horizontal .carbon-img {
    margin: 0 10px 0 0;
    float: left;
  }
  #deancarbonads.sm-horizontal .carbon-img img {
    margin-bottom: 0;
  }
  #deancarbonads.sm-horizontal .carbon-text {
    margin-bottom: 0;
    float: left;
    text-align: left;
    max-width: calc(100% - 130px - 10px);
  }
  #deancarbonads.sm-horizontal .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* Tags page */

.tag-btn {
  margin: 5px;
  text-decoration: none;
}

#full-tags-list {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#full-tags-list .tag-entry {
  margin: 0 0 15px 25px;
}

#full-tags-list .tag-entry a {
  font-size: 20px;
  color: #008AFF;
  text-decoration: none;
}

#full-tags-list .tag-entry a:hover,
#full-tags-list .tag-entry a:focus {
  color: #0085a1;
}

#full-tags-list .tag-entry .entry-date {
  color: #808080;
  font-style: italic;
  font-size: 16px;
}
